GAME_API_ORIGIN=http://127.0.0.1:8002
NEXT_PUBLIC_ACCOUNT_URL=http://localhost:3000
NEXT_PUBLIC_ASSET_BASE_URL=https://upyun.dogeow.com
NEXT_PUBLIC_REVERB_APP_KEY=game-local
NEXT_PUBLIC_REVERB_HOST=127.0.0.1
NEXT_PUBLIC_REVERB_PORT=8082
NEXT_PUBLIC_REVERB_SCHEME=http
